RewriteEngine On
RewriteBase /

# Allow access to autocomplete.php
RewriteCond %{REQUEST_URI} ^/autocomplete\.php$ [NC]
RewriteRule ^ - [L]

# Handle the about-us page
RewriteRule ^about-us/?$ about-us.php [L,QSA]

# Handle the request-consideration page
RewriteRule ^request-consideration/?$ request-consideration.php [L,QSA]

# Handle the contact-us page
RewriteRule ^contact-us/?$ contact-us.php [L,QSA]

# Handle the search page
RewriteRule ^search/?$ search.php [L,QSA]

# Handle the main search page
RewriteRule ^canada/?$ canada.php [L,QSA]

# Handle the commemorate page
RewriteRule ^commemorate/?$ commemorate.php [L,QSA]

# Handle the banner-badge-certificate page
RewriteRule ^banner-badge-certificate/?$ banner-badge-certificate.php [L,QSA]

# Handle the window-decals page
RewriteRule ^window-decals/?$ window-decals.php [L,QSA]

# Handle the plaque page
RewriteRule ^plaque/?$ plaque.php [L,QSA]

# Handle the glass-trophy page
RewriteRule ^glass-trophy/?$ glass-trophy.php [L,QSA]

# Handle the press-release page
RewriteRule ^press-release/?$ press-release.php [L,QSA]

# Handle the find-your-business page
RewriteRule ^find-your-business/?$ find-your-business.php [L,QSA]

# Handle the find-your-business page
RewriteRule ^find-your-business-result/?$ find-your-business-result.php [L,QSA]

# Handle the payment-step page
RewriteRule ^payment-step/?$ payment-step.php [L,QSA]

# Handle the suggest-edit page
RewriteRule ^suggest-edit/?$ suggest-edit.php [L,QSA]

# Handle the verification-process page
RewriteRule ^verification-process/?$ verification-process.php [L,QSA]

# Handle the verification-form page
RewriteRule ^verification-form/?$ verification-form.php [L,QSA]

# Handle award pages with year format
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\d{4})/(.*)$ award.php?year=$1&slug=$2 [L,QSA]

# Handle other PHP files (optional) except autocomplete.php and autocomplete-all.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteCond %{REQUEST_URI} !^/autocomplete\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/autocomplete-all\.php$ [NC]
RewriteRule ^ %1 [R,L]

<IfModule mod_headers.c>
Header set Cache-Control "private"
</IfModule>
